<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Navdeep Singh</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>3QNsKfOvMdD6XH3icH41PopsdqxOMIblAhGoC7RAWicM46LVZsXNGDcC12yexpHB</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.24">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.16">
      <emailAddress>Navdeep.singh@barco.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$kIlfBkjcZKh51HdVw2BUquSvs6.Mfjx3No/YE8eazLgKmq4gtOt0q</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys>ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDHviwc8xn1UnNtNadOwQLKYyPqyTKR4/CfKN0pWstpBFb+ocDGR2sp1mBmcb131dln+hetheLmzS1XeRoKWRuOf286V8LIEpvc+fUc9kklOBpLR9p4miX8LMKRqmha+Ib4rx7U5ETJoIG3sR8rusESTRmZoK/qIE/hBAYQjsVU7lcrEoCeGXpoSjHAQDCizTm1C21Ftl0XISCj8FTihfpNIVIk5eVmKtLeTdvp/yTXrCkc1tz4mEhkjUfDb+Ens8OXZ7CwcvIceU/gsjR+zxWekEGTpIbfmGJrQAei/67bpSpa8YkslfFs1oPuXNKW+udqPgKNtDaXxefouQwnU99B temp</authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>